# INFOTIK 2026 - Template Environment Variables (Safe to Commit)
VITE_ADMIN_EMAIL=admin@example.com
VITE_ADMIN_PASSWORD=your_admin_secure_password
VITE_ADMIN_INVITATION_CODE=your_admin_registration_invitation_code
VITE_WA_GROUP_LINK=https://chat.whatsapp.com/your_whatsapp_group_hash
VITE_ADMIN_WA_NUMBER=62811103542
VERIFICATION_SECRET_KEY=your_verification_symmetric_secret_key
